.chatInterfaceContainer {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	z-index: 100;
}

.chatInterfaceBtn {
	background: none;
	border: none;
	cursor: pointer;
	align-self: flex-end;
}

@media (max-width: 38.75em) {
	.chatInterfaceContainer {
		right: 1rem;
		bottom: 1rem;
	}
}
