.brands {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: hsl(var(--color-bg-2));
	padding: 4rem 0;
	margin-top: 8rem;
}

.brands img {
	width: 14rem;
}

@media (max-width: 61.25em) {
	.brands img {
		width: 10rem;
	}
}

@media (max-width: 48em) {
	.brands {
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;
	}
}

@media (max-width: 38.75em) {
	.brands {
		margin-top: 4rem;
	}
}
