.footer {
	background-color: hsl(var(--color-white));
	color: hsl(var(--color-dark));
	margin-top: 11.7rem;
	padding: 8rem 0;
}

.footer__layout {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 4.2rem;
	padding: 0 1rem;

	h5 {
		font-weight: 500;
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
	}

	a {
		color: hsl(var(--color-dark));
		font-size: 1.6rem;
		transition: font-weight 0.1s;

		&:hover {
			font-weight: 500;
		}
	}
}

.footer__logo {
	grid-row: 1 / 3;
}

.footer__socials {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	gap: 2.2rem;
}

@media (max-width: 48em) {
	.footer__layout {
		grid-template-columns: repeat(3, 1fr);
	}
	.footer__logo {
		grid-column: 1 / -1;
	}
}

@media (max-width: 38.75em) {
	.footer__layout {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 23.43em) {
	.footer__layout {
		grid-template-columns: 1fr;
	}
	.footer__socials {
		bottom: -5rem;
		left: 1rem;
		gap: 1.2rem;
	}
}
