.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6rem;
	padding: 11.2rem 0;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 2.6rem;
	margin-top: -6rem;
	h1 {
		font-size: 5.4rem;
		color: #30404d;
	}
}

.hero__image {
	margin-right: 4rem;
	position: relative;
}

.hero__image__rect {
	width: 44rem;
	height: 46rem;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: "";
		height: 25rem;
		width: 25rem;
		background-color: red;
		border-radius: 50%;
		filter: blur(20rem);
		z-index: -1;
	}

	&::before {
		right: 2rem;
		top: 2rem;
		background-color: #629dd4;
	}

	&::after {
		bottom: 2rem;
		left: 2rem;
		background-color: #256cb5;
	}

	& img {
		width: 100%;
		height: 100%;
	}
}

.hero__image__card,
.hero__image__calender,
.hero__image__graph {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hero__image__card {
	top: -4rem;
	right: -8rem;
	width: 28.5rem;
	height: 6.4rem;
	background-image: url(/src/assets/hero-sub-card.png);
}
.hero__image__calender {
	width: 32rem;
	height: 25rem;
	background-image: url(/src/assets/hero-sub-calender.png);
	bottom: -18rem;
	left: -10rem;
}
.hero__image__graph {
	width: 21.2rem;
	height: 13.2rem;
	background-image: url(/src/assets/hero-sub-graph.png);
	bottom: -7rem;
	right: -8rem;
}
