.hero__section {
	padding-bottom: 11.7rem;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6rem;
	padding: 0 1rem;
}

.hero__content {
	display: flex;
	flex-direction: column;
	gap: 2.6rem;
	margin-top: -6rem;
}

.hero__actions {
	display: flex;
}

.hero__image {
	margin-right: 4rem;
	position: relative;
}

.hero__image__rect {
	width: 44rem;
	height: 46rem;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		content: "";
		height: 25rem;
		width: 25rem;
		background-color: hsl(var(--color-primary-dark-2));
		border-radius: 50%;
		filter: blur(20rem);
		z-index: -1;
	}

	&::before {
		right: 2rem;
		top: 2rem;
	}

	&::after {
		bottom: 2rem;
		left: 2rem;
	}

	& img {
		width: 100%;
		height: 100%;
	}
}

.hero__image__card,
.hero__image__calender,
.hero__image__graph {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-radius: 8px;
	overflow: hidden;
}

.hero__image__card {
	top: -4rem;
	right: -8rem;
	width: 28.5rem;
	height: 6.4rem;
	background-image: url(/src/assets/hero-sub-card.png);
}
.hero__image__calender {
	width: 32rem;
	height: 25rem;
	background-image: url(/src/assets/hero-sub-calender.png);
	bottom: -18rem;
	left: -10rem;
}
.hero__image__graph {
	width: 21.2rem;
	height: 13.2rem;
	background-image: url(/src/assets/hero-sub-graph.png);
	bottom: -7rem;
	right: -8rem;
}

@media (max-width: 61.25em) {
	.hero {
		flex-direction: column;
	}

	.hero__content {
		align-items: center;
		text-align: center;
	}
}

@media (max-width: 38.75em) {
	.hero__section {
		padding-bottom: 6rem;
	}

	.hero__actions {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.hero__image__rect {
		width: 30rem;
		height: 32rem;

		&::before,
		&::after {
			height: 20rem;
			width: 20rem;
		}
	}

	.hero__image__card {
		top: -4rem;
		right: -3rem;
		width: 22rem;
	}
	.hero__image__calender {
		width: 25rem;
		height: 18rem;
		bottom: -9rem;
		left: -3rem;
	}
	.hero__image__graph {
		width: 15rem;
		height: 8rem;
		bottom: -2rem;
		right: -5rem;
	}
}
