.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;

	button {
		border: none;
		background-color: hsl(var(--color-gray-light-2));
		color: hsl(var(--color-white));
		padding: 1.5rem;
		border-radius: 10rem;
		margin-top: 4rem;
		cursor: pointer;
		transition: all 0.2s;

		&:hover {
			background-color: hsl(var(--color-primary-light-2));
		}
	}
}

/* For admin panel */
.app__layout {
	min-height: 100vh;
	display: flex;
}