.color__button {
	width: 4rem;
	height: 4rem;
	border: 1px solid rgba(0, 0, 0, 0.18);
	border-radius: 50%;
}

.colors {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.color__picker__input {
	display: flex;
	align-items: center;
	gap: 1rem;

	label {
		display: block;
		width: 4.8rem;
		height: 4.8rem;
		border: 1px solid rgba(0, 0, 0, 0.18);
		border-radius: 8px;
	}

	input[type="color"] {
		display: none;
	}

	input[type="text"] {
		background-color: #f6f7f5;
		border: none;
		padding: 1.5rem;
		color: #000;
		font-weight: 500;
		border-radius: 5px;
	}
}
