.container {
	display: flex;
	gap: 1.6rem;
	position: relative;
}

.wheel {
	width: 6rem;
	height: 12rem;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	-ms-overflow-style: none;
	position: relative;
}

.wheel::-webkit-scrollbar {
	display: none;
}

.item {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
	font-size: 2rem;
}

.centerLine {
	position: absolute;
	left: 0;
	right: 0;
	top: 40rem; /* aligns with middle item */
	height: 40rem;
	border-top: 2px solid #aaa;
	border-bottom: 2px solid #aaa;
	pointer-events: none;
}
