:root {
	--font: "Barlow", sans-serif;
	--color-bg: #f8fbfe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scrollbar-width: none;
}

body {
	font-size: 1.6rem;
	font-family: var(--font);
	background-color: var(--color-bg);
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}
