:root {
	--font: "Barlow", sans-serif;
	--color-bg: 210 75% 98%;
	--color-bg-2: 214 54% 95%;
	--color-bg-3: 210, 25%, 98%;
	--color-white: 0 0% 100%;
	--color-white-2: 0 0% 93%;
	--color-dark: 0 2% 10%;
	--color-primary: 211 53% 48%;
	--color-primary-light: 207 23% 25%;
	--color-primary-light-2: 210 28% 28%;
	--color-primary-dark: 215 54% 31%;
	--color-primary-dark-2: 210 66% 43%;
	--text-light: 240 16% 25%;
	--text-light-2: 206 22% 29%;
	--border-light: 209 57% 64%;
	--color-gray-light: 0 0% 40%;
	--color-gray-light-2: 0 0% 76%;
	--color-gray-dark: hsl(0, 0%, 26%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scrollbar-width: none;
}

body {
	font-size: 1.6rem;
	font-family: var(--font);
	background-color: hsl(var(--color-bg));
	color: hsl(var(--color-primary-light));
}

input,
button {
	font: inherit;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.section {
	padding-top: 11.7rem;
}

.section-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
	width: 72.5rem;
}

.heading-primary {
	font-size: 5.4rem;
}

.heading-secondary {
	font-size: 4.4rem;
	font-weight: 700;
}

.heading-tertiary {
	font-size: 3.6rem;
	font-weight: 600;
}

.heading-quaternary {
	font-size: 2.4rem;
	font-weight: 700;
}

.text-primary {
	font-size: 1.8rem;
}

.text-light {
	color: hsl(var(--text-light-2));
}

@media (max-width: 48em) {
	.section-heading {
		width: auto;
		padding: 0 2rem;
	}
}

@media (max-width: 38.75em) {
	.section {
		padding-top: 8rem;
	}

	.heading-primary {
		font-size: 4rem;
	}

	.heading-secondary {
		font-size: 3rem;
		font-weight: 700;
	}

	.heading-tertiary {
		font-size: 2.4rem;
		font-weight: 600;
	}

	.heading-quaternary {
		font-size: 2rem;
		font-weight: 700;
	}

	.text-primary {
		font-size: 1.6rem;
	}
}
