.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;
	border: none;
	border-radius: 8px;

	cursor: pointer;
}

.btn--small {
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
}

.btn--medium {
	font-size: 1.8rem;
	padding: 1.4rem 4rem;
}

.btn--primary {
	background-color: #244779;
	color: #fff;
}

.link--primary {
	color: #36364a;
}
