.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 600;
	border: none;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

.btn--small {
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
}

.btn--medium {
	font-size: 1.8rem;
	padding: 0.5rem 4rem;
}

.btn--primary {
	background-color: hsl(var(--color-primary-dark));
	color: hsl(var(--color-white));
}

.btn--secondary {
	background: none;
	color: hsl(var(--color-primary-light));
}

.link--primary {
	color: hsl(var(--text-light));
}
